.fondo {
    background: rgb(2, 0, 36);
    background: radial-gradient(
        circle,
        rgba(2, 0, 36, 1) 0%,
        rgba(115, 8, 130, 1) 52%,
        rgba(9, 9, 121, 1) 52%,
        rgba(137, 8, 132, 0.9920343137254902) 52%,
        rgba(0, 15, 218, 1) 100%
    );
}

.piano {
    display: flex;
    margin-top: 200px;
    align-self: center;
    justify-content: center;
}

.tecla {
    justify-content: center;
}
.blancas {
    background-color: #faf9f9;
    height: 10rem;
    width: 2.9rem;
    color: rgb(2, 0, 36);
    
}
.negras {
    color: aliceblue;
    background-color: black;
    height: 6.5rem;
    width: 2.5 rem;
    
    
}
